In [7]:
import pandas as pd
import sqlite3 as sql
import pyodbc
from sqlalchemy import create_engine
import urllib

In [9]:
Northwind = {
    'servername': r'MAX-PC-DEC-2023\SQLEXPRESS',
    'database': 'Northwind'
}

Adventure = {
    'servername': r'MAX-PC-DEC-2023\SQLEXPRESS',
    'database': 'AdventureWorks2019'
}

In [10]:
aenc_connection = sql.connect("../data/aenc.sqlite")
adventure_connection = pyodbc.connect('DRIVER={SQL Server};SERVER=' + Adventure['servername'] + ';DATABASE=' + Adventure['database'] + ';Trusted_Connection=yes')
northwind_connection = pyodbc.connect('DRIVER={SQL Server};SERVER=' + Northwind['servername'] + ';DATABASE=' + Northwind['database'] + ';Trusted_Connection=yes')

In [13]:
product1 = pd.read_sql_query("select * from Employees", northwind_connection)
product1

C:\Users\Maxhb\AppData\Local\Temp\ipykernel_16316\3413038759.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  product1 = pd.read_sql_query("select * from Employees", northwind_connection)

,EmployeeID,LastName,FirstName,Title,TitleOfCourtesy,BirthDate,HireDate,Address,City,Region,PostalCode,Country,HomePhone,Extension,Photo,Notes,ReportsTo,PhotoPath
0,1,Davolio,Nancy,Sales Representative,Ms.,1948-12-08,1992-05-01,507 - 20th Ave. E.Apt. 2A,Seattle,WA,98122,USA,(206) 555-9857,5467,b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...,Education includes a BA in psychology from Col...,2.0,http://accweb/emmployees/davolio.bmp
1,2,Fuller,Andrew,"Vice President, Sales",Dr.,1952-02-19,1992-08-14,908 W. Capital Way,Tacoma,WA,98401,USA,(206) 555-9482,3457,b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...,Andrew received his BTS commercial in 1974 and...,NaN,http://accweb/emmployees/fuller.bmp
2,3,Leverling,Janet,Sales Representative,Ms.,1963-08-30,1992-04-01,722 Moss Bay Blvd.,Kirkland,WA,98033,USA,(206) 555-3412,3355,b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...,Janet has a BS degree in chemistry from Boston...,2.0,http://accweb/emmployees/leverling.bmp
3,4,Peacock,Margaret,Sales Representative,Mrs.,1937-09-19,1993-05-03,4110 Old Redmond Rd.,Redmond,WA,98052,USA,(206) 555-8122,5176,b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...,Margaret holds a BA in English literature from...,2.0,http://accweb/emmployees/peacock.bmp
4,5,Buchanan,Steven,Sales Manager,Mr.,1955-03-04,1993-10-17,14 Garrett Hill,London,None,SW1 8JR,UK,(71) 555-4848,3453,b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...,Steven Buchanan graduated from St. Andrews Uni...,2.0,http://accweb/emmployees/buchanan.bmp
5,6,Suyama,Michael,Sales Representative,Mr.,1963-07-02,1993-10-17,Coventry House\nMiner Rd.,London,None,EC2 7JR,UK,(71) 555-7773,428,b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...,Michael is a graduate of Sussex University (MA...,5.0,http://accweb/emmployees/davolio.bmp
6,7,King,Robert,Sales Representative,Mr.,1960-05-29,1994-01-02,Edgeham Hollow\nWinchester Way,London,None,RG1 9SP,UK,(71) 555-5598,465,b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...,Robert King served in the Peace Corps and trav...,5.0,http://accweb/emmployees/davolio.bmp
7,8,Callahan,Laura,Inside Sales Coordinator,Ms.,1958-01-09,1994-03-05,4726 - 11th Ave. N.E.,Seattle,WA,98105,USA,(206) 555-1189,2344,b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...,Laura received a BA in psychology from the Uni...,2.0,http://accweb/emmployees/davolio.bmp
8,9,Dodsworth,Anne,Sales Representative,Ms.,1966-01-27,1994-11-15,7 Houndstooth Rd.,London,None,WG2 7LT,UK,(71) 555-4444,452,b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...,Anne has a BA degree in English from St. Lawre...,5.0,http://accweb/emmployees/davolio.bmp