In [16]:
import pandas as pd
import sqlite3 as sql
import pyodbc
from sqlalchemy import create_engine
import urllib

In [17]:
Northwind = {
    'servername': r'MAX-PC-DEC-2023\SQLEXPRESS',
    'database': 'Northwind'
}

Adventure = {
    'servername': r'MAX-PC-DEC-2023\SQLEXPRESS',
    'database': 'AdventureWorks2019'
}

In [18]:
aenc_connection = sql.connect("../data/aenc.sqlite")
adventure_connection = pyodbc.connect('DRIVER={SQL Server};SERVER=' + Adventure['servername'] + ';DATABASE=' + Adventure['database'] + ';Trusted_Connection=yes')
northwind_connection = pyodbc.connect('DRIVER={SQL Server};SERVER=' + Northwind['servername'] + ';DATABASE=' + Northwind['database'] + ';Trusted_Connection=yes')

In [29]:
northwind_query = """
SELECT 
    EmployeeID AS Id, 
    'NW' AS 'Database', 
    FirstName, 
    LastName,
    BirthDate AS Birthdate, 
    Address, 
    City, 
    Region, 
    PostalCode, 
    Country, 
    HomePhone AS Phone, 
    NULL AS Sex,
    HireDate AS StartDate, 
    ReportsTo AS ManagerId, 
    NULL AS TerminationDate
FROM Employees
"""

# Executing the query and storing the results in a DataFrame
northwind_df = pd.read_sql_query(northwind_query, northwind_connection)

northwind_df

C:\Users\Maxhb\AppData\Local\Temp\ipykernel_16316\4111315885.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  product1 = pd.read_sql_query("select * from Employees", northwind_connection)
C:\Users\Maxhb\AppData\Local\Temp\ipykernel_16316\4111315885.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  northwind_df = pd.read_sql_query(northwind_query, northwind_connection)

,Id,Database,FirstName,LastName,Birthdate,Address,City,Region,PostalCode,Country,Phone,Sex,StartDate,ManagerId,TerminationDate
0,1,NW,Nancy,Davolio,1948-12-08,507 - 20th Ave. E.Apt. 2A,Seattle,WA,98122,USA,(206) 555-9857,None,1992-05-01,2.0,None
1,2,NW,Andrew,Fuller,1952-02-19,908 W. Capital Way,Tacoma,WA,98401,USA,(206) 555-9482,None,1992-08-14,NaN,None
2,3,NW,Janet,Leverling,1963-08-30,722 Moss Bay Blvd.,Kirkland,WA,98033,USA,(206) 555-3412,None,1992-04-01,2.0,None
3,4,NW,Margaret,Peacock,1937-09-19,4110 Old Redmond Rd.,Redmond,WA,98052,USA,(206) 555-8122,None,1993-05-03,2.0,None
4,5,NW,Steven,Buchanan,1955-03-04,14 Garrett Hill,London,None,SW1 8JR,UK,(71) 555-4848,None,1993-10-17,2.0,None
5,6,NW,Michael,Suyama,1963-07-02,Coventry House\nMiner Rd.,London,None,EC2 7JR,UK,(71) 555-7773,None,1993-10-17,5.0,None
6,7,NW,Robert,King,1960-05-29,Edgeham Hollow\nWinchester Way,London,None,RG1 9SP,UK,(71) 555-5598,None,1994-01-02,5.0,None
7,8,NW,Laura,Callahan,1958-01-09,4726 - 11th Ave. N.E.,Seattle,WA,98105,USA,(206) 555-1189,None,1994-03-05,2.0,None
8,9,NW,Anne,Dodsworth,1966-01-27,7 Houndstooth Rd.,London,None,WG2 7LT,UK,(71) 555-4444,None,1994-11-15,5.0,None